%card-top-border {
	border-top: 0.5rem solid $card-border-color;
}

%button {
	font: 900 .75rem/1rem $opensans;
	display: inline-block;
	padding: 0.4rem .8rem;
	color: $white;
	border: 1px solid lighten($dark-blue, 50%);
	margin: {
		bottom: $paragraph-margin-bottom;
		right: $paragraph-margin-bottom;
	}
	background-color: $button-background;
	text: {
		transform: uppercase;
	}

	&:last-of-type {
		margin-right: 0;
	}

	&:hover,
	&:focus {
		color: $white;
	}

	&.hollow {
		color: $dark-blue;
		border-color: $dark-blue;
		background-color: $white;

		&::hover {
			color: $dark-blue;
		}
	}

	a {
		color: $white;
	}
}

%heading-sideline {
	text-align: center;
	margin-bottom: $grid-margin-gutters;

	.cell.shrink {
		max-width: 75%;
		position: relative;
		margin-bottom: 0;
		padding: 0 1rem;
		line-height: 1.35em;
		hyphens: auto;
	}

	.grid-x {
		align-items: center;
		flex-wrap: nowrap;

		+ * {
			margin-top: $grid-margin-gutters / 2;
		}
	}

	.title-line {
		border-top: 2px solid $light-blue;
	}
}

%button-compact {
	font: 900 .75rem/1rem $opensans;
	display: inline-block;
	padding: 0.4rem .8rem;
	color: $white;
	border: 1px solid lighten($dark-blue, 50%);
	margin: {
		bottom: 1rem;
		right: 1rem;
	}
	background-color: $dark-blue;
	text: {
		transform: uppercase;
	}

	&:last-of-type {
		margin-right: 0;
	}

	&:hover,
	&:focus {
		color: $white;
	}

	&.hollow {
		color: $dark-blue;
		border-color: $dark-blue;
		background-color: $white;

		&::hover {
			color: $dark-blue;
		}
	}

	a {
		color: $white;
	}
}
