%card-link {
	a:not(.button) {
		color: $card-link-color;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

%card {
	@extend %card-link;

	border: 1px solid $dark-blue;
	border-top-width: 0.5rem;
	padding: $global-layout-space;
	margin-bottom: $global-layout-space;

	&.card-no-padding {
		padding: 0;
	}

	.card-heading {
		margin-bottom: $global-layout-space;

		&::before {
			content: "\00A0";
			display: inline-block;
			border-left: 1px solid $dark-gray;
			padding-left: 0.4rem;
		}
	}

	h3,
	h4 {
		&.small {
			color: $card-link-color;
			font-size: 1.25rem;
			line-height: 1.1;
			text-transform: none;
			letter-spacing: 0;

			@include breakpoint(medium) {
				font-size: 1rem;
			}
		}
	}
}

%button {
	display: inline-block;
	padding: 0.4rem .8rem;
	color: $white;
	border: 1px solid lighten($dark-blue, 50%);
	margin-bottom: $paragraph-margin-bottom;
	margin-right: $paragraph-margin-bottom;
	background-color: $dark-blue;
	font: bold .8rem/1.1 $opensans;
	text: {
		decoration: none;
		transform: uppercase;
	}

	&:hover,
	&:focus {
		color: $white;
		text-decoration: underline;
	}

	&.hollow {
		color: $dark-blue;
		border-color: $dark-blue;
		background-color: $white;

		&::hover {
			color: $dark-blue;
		}
	}

	&:last-child {
		margin-bottom: 0;
	}
}
