h1,
h2,
h3,
h4,
h5,
h6 {
	color: $dark-blue;
	letter-spacing: 1px;
}

.clear-both {
	clear: both;
}

.content {
	hyphens: auto;
}

.entry-title {
	text-transform: uppercase;
}

.card {
	@include card;
}

.medium-card {
	@include breakpoint(medium) {
		@include card;
	}
}

button {
	cursor: pointer;
}

button:not(.menu-icon),
.button,
input[type="submit"] {
	@extend %button;
}

.no-margin {
	margin: 0;
}

.p {
	margin-bottom: $paragraph-margin-bottom;
}

table {
	border: $table-border {
		collapse: collapse;
	}
	margin-bottom: $paragraph-margin-bottom;

	td {
		border: $table-border;
		padding: 0.5rem;
	}
}

.heading-sideline {
	@extend %heading-sideline;
}

.invert {
	color: $white;
	background-color: $darker-gray;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	a:not(.button) {
		color: $white;
	}

	&.no-bg {
		background-color: transparent;
	}

	a,
	a:active,
	a:hover {
		color: $white;
		text-decoration: none;
	}
}

.af4-entry-compact {
	@extend %af4-entry-compact;
}

@mixin text-truncate {
	display: -webkit-box; // sass-lint:disable-line no-vendor-prefixes
	-webkit-line-clamp: 3; // sass-lint:disable-line no-vendor-prefixes
	-webkit-box-orient: vertical; // sass-lint:disable-line no-vendor-prefixes
	overflow: hidden;
	hyphens: auto;
}

@include breakpoint(medium) {
	.medium-truncate-lines {
		@include text-truncate;
	}

	.medium-truncate-2-lines {
		-webkit-line-clamp: 2; // sass-lint:disable-line no-vendor-prefixes
	}

	.medium-truncate-1-line {
		-webkit-line-clamp: 1; // sass-lint:disable-line no-vendor-prefixes
	}
}
