h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	color: $dark-blue;
	letter-spacing: 1px;
}

.card {
	@extend %card;
}

button:not(.menu-icon),
.button,
input[type="submit"] {
	@extend %button;
}

.no-margin {
	margin: 0;
}

.p {
	margin-bottom: $paragraph-margin-bottom;
}

.site-inner {
	margin-top: 1rem;

	@include breakpoint(medium) {
		margin-top: 1.5rem;
	}
}
