h1,
h2,
h3,
h4,
h5,
h6 {
	color: $dark-blue;
	letter-spacing: 1px;
}

.content {
	hyphens: auto;
}

.entry-title {
	text-transform: uppercase;
}

.card {
	@include card;
}

.medium-card {
	@include breakpoint(medium) {
		@include card;
	}
}

button:not(.menu-icon),
.button,
input[type="submit"] {
	@extend %button;
}

.no-margin {
	margin: 0;
}

.p {
	margin-bottom: $paragraph-margin-bottom;
}

.site-inner {
	margin-top: 2 * $global-layout-space;
}

table {
	border: $table-border {
		collapse: collapse;
	}
	margin-bottom: $paragraph-margin-bottom;

	td {
		border: $table-border;
		padding: 0.5rem;
	}
}

.heading-sideline {
	@extend %heading-sideline;
}

.invert {
	color: $white;
	background-color: $darker-gray;

	&.no-bg {
		background-color: transparent;
	}

	a,
	a:active,
	a:hover {
		color: $white;
		text-decoration: none;
	}
}

.af4-entry-compact {
	@extend %af4-entry-compact;
}
