.site-footer {
	color: $footer-text-color;
	line-height: 2.4em;
	font-weight: $footer-font-weight;
	margin-top: $grid-margin-gutters;
	margin-bottom: $grid-margin-gutters;
	padding: 0 $grid-margin-gutters / 2;

	ul {
		margin-left: 0;

		li {
			display: inline-block;
			list-style-type: none;
			border-left: 1px solid $border-primary;
			line-height: 1rem;
			margin: .2em 0 .2em .75em;
			padding-left: .75em;

			&:first-child {
				border-left: none;
				margin-left: 0;
				padding-left: 0;
			}
		}
	}

	.footer-container-tamus {
		text-align: center;
	}

	.footer-tamus {
		border: 2px solid $border-primary;
	}

	@include breakpoint(medium up) {
		text-align: left;

		ul {
			margin: 0 0 $grid-margin-gutters;

			li {
				font-size: 1em;
			}
		}

	}

}
