$social-media-space: .5rem;
$menu-items-padding-x: 1rem;
$menu-items-padding-y: 0.6875rem;
$widget-space-y: $menu-items-padding-y;
$widget-space-x: 3rem;

.footer-widgets {
	background-color: $dark-blue;
	color: $white;
	font: {
		size: .9rem;
		weight: bold;
	}
	text-align: center;
	padding: $grid-margin-gutters;
	margin-top: $global-layout-space * 2;

	@include breakpoint(medium) {
		margin-top: $global-layout-space * 5;
		padding: rem-calc(50) $grid-margin-gutters;
	}

	a {
		color: $white;
		text-transform: uppercase;
	}

	li {
		display: block;
	}

	.invert a {
		&:active,
		&:hover {
			text-decoration: underline;
		}
	}

	.layout-container {
		max-width: 900px;
	}

	> .grid-x {
		justify-content: center;
		text-align: center;

		> .cell {
			padding: $widget-space-y 0;
		}
	}

	.footer-widgets-logo {
		min-width: 175px;
	}

	.widgets-footer-1 {
		text-align: center;

		img {
			height: rem-calc(50);
		}

		.logo {
			height: rem-calc(50);
			margin-bottom: $grid-margin-gutters;
		}

		.menu {
			display: block;

			li {
				display: inline-block;
				padding: 0 $grid-margin-gutters / 2;
			}
		}
	}

	.widgets-footer-3 {
		min-width: 207px;
		text-transform: uppercase;

		.pipe {
			color: $light-blue;
			display: inline-block;
			margin: 0 .5rem;
		}
	}

	.widget {
		&:first-child .addtoany_list a:first-child {
			margin-left: 0;
		}

		.addtoany_list {
			line-height: 1!important; // sass-lint:disable-line no-important

			a {
				display: inline-block;
				width: 42px;
				margin: 0 0 $social-media-space $social-media-space;
				padding: 0;
				background: {
					repeat: no-repeat;
					size: contain;
					position: center;
				}

				img {
					visibility: hidden;
					width: calc(20% - #{$social-media-space * 2});
					min-width: 40px;
					max-width: 64px;
				}
			}

			.a2a_count {
				display: none;
			}

			@include breakpoint(small only) {
				a {
					margin-bottom: 0;
				}
			}
		}
	}

	.widgets-footer-1 .social-media .widget:first-child .addtoany_list a:first-child {
		margin-left: 0;
	}

	.a2a_button_facebook {
		background-image: url("../images/facebook-white.svg");
	}

	.a2a_button_twitter {
		background-image: url("../images/twitter-white.svg");
	}

	.a2a_button_youtube {
		background-image: url("../images/youtube-white.svg");
	}

	.a2a_button_flickr {
		background-image: url("../images/flickr-white.svg");
	}

	.a2a_button_feed {
		background-image: url("../images/feed-white.svg");
	}

	.card {
		margin-bottom: 0;
	}

	.agt-sub {
		*[type="submit"] {
			background-color: $dark-blue;
		}

		@include breakpoint(380px down) {
			.title-wrap {
				flex-basis: 100px;
			}

			h4 {
				width: 80px;
				padding: 0;
			}
		}
	}

	.widgets-footer-2 {
		max-width: rem-calc(297 * 3);
		margin-bottom: 0;

		.social-media {
			vertical-align: middle;

			section,
			div {
				display: inline;
			}
		}
	}
}

.site-footer {
	background-color: $dark-gray;
	color: $white;
	line-height: 2.4em;
	font: {
		weight: $footer-font-weight;
		size: .9rem;
	}
	text-align: center;
	padding: ($grid-margin-gutters + $widget-space-y + .1rem) $grid-margin-gutters;

	> .wrap {
		align-items: center;
	}

	a {
		color: $white;
	}

	ul {
		margin: 0;

		li {
			display: block;
			list-style-type: none;
			line-height: 1.7;
		}
	}

	.footer-container-tamus {
		text-align: center;
		margin-top: ($grid-margin-gutters + $widget-space-y + .1rem);
	}

	.footer-tamus {
		width: 125px;
	}

	@include breakpoint(medium) {
		font-size: .8rem;

		ul li {
			display: inline;
			border-right: 1px solid $white;
			margin: 0 .5em 0 0;
			padding-right: .5em;

			&:last-child {
				border-right: none;
				margin-right: 0;
				padding-right: 0;
			}
		}

		.footer-container {
			margin-right: 1.5rem;
		}

		.footer-container-tamus {
			margin: {
				left: 1.5rem;
				top: 0;
			}
		}
	}
}
