.site-footer {
	background-color: $maroon;
	color: $white;
	line-height: 2.4em;
	font-weight: $footer-font-weight;
	padding: $grid-margin-gutters;
	font-size: .9rem;
	text-align: center;

	> .wrap {
		align-items: center;
	}

	a {
		color: $white;
	}

	ul {
		margin: 0;

		li {
			display: block;
			list-style-type: none;
			line-height: 1.7;
		}
	}

	.footer-container-tamus {
		text-align: center;
		margin-top: $grid-margin-gutters;
	}

	.footer-tamus {
		width: 160px;
	}

	@include breakpoint(medium up) {
		text-align: left;

		ul li {
			display: inline;
			border-right: 1px solid $white;
			margin: 0 .5em 0 0;
			padding-right: .5em;

			&:last-child {
				border-right: none;
				margin-right: 0;
				padding-right: 0;
			}
		}

		.footer-container {
			margin-right: 1.5rem;
		}

		.footer-container-tamus {
			margin-left: 1.5rem;
			margin-top: 0;
		}
	}
}

.footer-widgets {
	margin-top: $grid-margin-gutters;
	background-color: $dark-blue;
	color: $white;
	font-size: .9rem;
	font-weight: bold;
	padding: 1rem 0;

	a {
		color: $white;
		text-transform: uppercase;
	}

	li {
		display: block;
		width: 100%;
	}

	> .grid-x {
		justify-content: center;
		padding: .5rem;

		> .cell:not(.widgets-footer-3) {
			margin: 0;
		}
	}

	.footer-widgets-logo,
	.widgets-footer-2 {
		padding: 1rem;
	}

	.widgets-footer-1 {
		min-width: 128px;
		padding: .75rem;

		section,
		div {
			display: inline;
		}
	}

	.widgets-footer-2 {
		margin: 0;
		padding: .5rem 0;
	}

	.footer-widgets-logo {
		min-width: 175px;
	}

	.widgets-footer-3 {
		min-width: 207px;
	}

	.widget .addtoany_list {
		line-height: 48px!important; // sass-lint:disable-line no-important

		a {
			display: inline-block;
			width: 48px;
			height: 48px;
			margin: .25rem;
			padding: 0;
			background: {
				repeat: no-repeat;
				size: contain;
			}

			img {
				width: 48px;
				visibility: hidden;
			}
		}

		.a2a_count {
			display: none;
		}
	}

	.a2a_button_facebook {
		background-image: url("../images/facebook-white.svg");
	}

	.a2a_button_twitter {
		background-image: url("../images/twitter-white.svg");
	}

	.a2a_button_youtube {
		background-image: url("../images/youtube-white.svg");
	}

	.a2a_button_flickr {
		background-image: url("../images/flickr-white.svg");
	}

	.a2a_button_feed {
		background-image: url("../images/feed-white.svg");
	}

	.card {
		margin-bottom: 0;
	}

	.agt-sub {
		*[type="submit"] {
			background-color: $dark-blue;
		}
	}

	.menu {
		display: block;
	}
}
