.site-header {
	text-align: center;
	font-family: $nav-font-family;

	.logo img {
		max-height: 60px;
	}

	.title-area {
		background-color: $white;
	}

	.sticky-container {
		z-index: 2;
	}

	@include breakpoint(medium) {

		.site-title {
			padding: 1.5rem 0;
			border-bottom: 1px solid $border-primary;
			transition: padding .5s;
		}

		.is-stuck .site-title {
			padding: .5rem 0;
		}

		.sticky-container {
			transition: height .5s;

			&.child-not-stuck {
				height: $header-height!important; // sass-lint:disable-line no-important
			}

			&.child-stuck {
				height: $header-sticky-height!important; // sass-lint:disable-line no-important
			}
		}

		.logged-in.admin-bar & .sticky.is-stuck {
			top: 32px!important; // sass-lint:disable-line no-important
		}
	}

	@include breakpoint(small only) {
		> .wrap > .wrap {
			background-color: $white;
			border-bottom: 1px solid $border-primary;
		}

		.title-area {
			text-align: left;
		}

		.is-stuck {
			background-color: $white;
		}

		.grid-x .title-area,
		.grid-x .title-bars {
			margin: {
				top: $global-layout-space / 2;
				bottom: $global-layout-space / 2;
			}
		}

		.grid-x .title-bars {
			padding-right: 6px;
		}
	}
}

#hd-search {
	clear: both;
	width: 100%;
	margin: $menu-items-padding-y $grid-margin-gutters / 2 0;

	input[type="search"] {
		color: $white;
	}

	@include breakpoint(small only) {

		.no-js & {
			@include element-invisible;
		}

		form {
			@include xy-grid;

			input {
				max-width: 100%;
			}

			input[type=search] {
				@include xy-cell(auto);
				border-color: $border-primary;
			}

			input[type=submit] {
				flex: 0 0 116px;
				margin: {
					left: $grid-margin-gutters / 2;
					right: $grid-margin-gutters / 2;
				}
			}
		}
	}

	@include breakpoint(400px down) {

		form {
			input[type=search],
			input[type=submit] {
				@include xy-cell(12);
				flex: 1 1 100%;
				height: 39px;
			}

			input[type=search] {
				margin-bottom: 4px;
			}
		}

	}

	@include breakpoint(medium) {
		@include element-invisible;
	}
}
