button.search-icon {
	background: transparent url("../images/search-icon-light.svg") no-repeat
	center center/rem-calc(38) rem-calc(38);
	overflow: hidden;
	text-indent: 500%;
	white-space: nowrap;
	cursor: pointer;
	border: 0 none;
	width: rem-calc(38);
	height: rem-calc(38);
	margin: 0;

	&:hover {
		background-color: transparent;
	}
}

.site-header {
	text-align: center;
	font-family: $nav-font-family;

	.logo img {
		height: 38px;
	}

	.title-area {
		background-color: $dark-blue;
	}

	.sticky-container {
		z-index: 2;
		transition: height .25s ease-in-out;

		&.child-not-stuck {
			height: $header-small-height
			!important; // sass-lint:disable-line no-important

			&.search-open {
				height: $header-small-height
				!important; // sass-lint:disable-line no-important
			}
		}

		&.child-stuck {
			height: $header-small-height
			!important; // sass-lint:disable-line no-important
		}
	}

	@include breakpoint(medium) {

		.site-title {
			padding: 2rem 0;
			border-bottom: 1px solid $border-primary;
			transition: padding .5s;
		}

		.is-stuck .site-title {
			padding: .5rem 0;
		}

		.sticky-container {
			&.child-not-stuck {
				height: $header-medium-height
				!important; // sass-lint:disable-line no-important

				&.search-open {
					height: $header-medium-height
					!important; // sass-lint:disable-line no-important
				}
			}

			&.child-stuck {
				height: $header-medium-sticky-height
				!important; // sass-lint:disable-line no-important
			}
		}

		.logged-in.admin-bar & .sticky.is-stuck {
			top: 32px!important; // sass-lint:disable-line no-important
		}

		.widgets-header-subscribe {
			position: relative;
			height: 0;
		}
	}

	@include breakpoint(small only) {
		> .wrap > .wrap {
			background-color: $dark-blue;
			border-bottom: 2px solid $light-blue;
		}

		.title-area {
			text-align: left;
		}

		.is-stuck {
			background-color: $dark-blue;
		}

		.grid-x .title-area,
		.grid-x .title-bars {
			margin: {
				top: $global-layout-space / 2;
				bottom: $global-layout-space / 2;
			}
		}
	}
}
