.site-header {
	text-align: center;
	font-family: $nav-font-family;

	.logo img {
		height: 38px;
	}

	.title-area {
		background-color: $dark-blue;
	}

	.sticky-container {
		z-index: 2;
		transition: height .25s ease-in-out;

		&.child-not-stuck {
			height: $header-small-height
			!important; // sass-lint:disable-line no-important

			&.search-open {
				height: $header-small-height
				!important; // sass-lint:disable-line no-important
			}
		}

		&.child-stuck {
			height: $header-small-height
			!important; // sass-lint:disable-line no-important
		}
	}

	@include breakpoint(medium) {

		.site-title {
			padding: 2rem 0;
			border-bottom: 1px solid $border-primary;
			transition: padding .5s;
		}

		.is-stuck .site-title {
			padding: .5rem 0;
		}

		.sticky-container {
			&.child-not-stuck {
				height: $header-medium-height + $nav-primary-height - rem-calc(6)
				!important; // sass-lint:disable-line no-important

				&.search-open {
					height: $header-medium-height
					!important; // sass-lint:disable-line no-important
				}
			}

			&.child-stuck {
				height: $header-medium-sticky-height
				!important; // sass-lint:disable-line no-important
			}
		}

		.logged-in.admin-bar & .sticky.is-stuck {
			top: 32px!important; // sass-lint:disable-line no-important
		}

		.widgets-header-subscribe {
			position: relative;
			height: 0;
		}
	}

	@include breakpoint(965px) {
		.sticky-container {
			&.child-not-stuck {
				height: $header-medium-height
				!important; // sass-lint:disable-line no-important

				&.search-open {
					height: $header-medium-height
					!important; // sass-lint:disable-line no-important
				}
			}

			&.child-stuck {
				height: $header-medium-sticky-height
				!important; // sass-lint:disable-line no-important
			}
		}
	}

	@include breakpoint(small only) {
		> .wrap > .wrap {
			background-color: $dark-blue;
			border-bottom: 2px solid $light-blue;
		}

		.title-area {
			text-align: left;
		}

		.is-stuck {
			background-color: $dark-blue;
		}

		.grid-x .title-area,
		.grid-x .title-bars {
			margin: {
				top: $global-layout-space / 2;
				bottom: $global-layout-space / 2;
			}
		}
	}
}

#header-widgets {
	display: none;

	.grid-container {
		padding: {
			left: .5rem;
			right: .5rem;
		}
	}

	.grid-x {
		padding: .5rem 0;
	}

	.search-form-input {
		background-color: $light-gray;
		margin-bottom: 0;
		padding: rem-calc(1) rem-calc(1) rem-calc(1) 1rem;
		border: 0 none;
		height: rem-calc(30);
		font-size: rem-calc(13);
		font-weight: 500;
		line-height: 1.75rem;
		color: $black;
		box-sizing: content-box;

		&::placeholder {
			color: $black;
			font-weight: 500;
			font-style: italic;
		}
	}

	input.search-icon {
		$icon-size: rem-calc(20);
		background: $light-blue url("../images/search-icon-light.svg") no-repeat
		center center/$icon-size $icon-size;
		overflow: hidden;
		text-indent: 500%;
		white-space: nowrap;
		cursor: pointer;
		border: 0 none;
		width: rem-calc(35);
		height: rem-calc(32);
		padding: .375rem;
		margin-bottom: 0;
	}

	@include breakpoint(medium) {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		.grid-container {
			position: relative;
		}

		.grid-x {
			position: absolute;
			top: .25rem;
			right: 2.475rem;
		}

		.search-form-input {
			width: 150px;

			@include breakpoint(745px down) {
				width: 125px;
			}

			@include breakpoint(687px down) {
				width: 104px;
			}
		}
	}
}
