.page-template-home {

	.quote.card {
		padding: $card-padding * 4 $card-padding;

		p {
			font-size: 1.75rem;
			line-height: 1.25;
			margin-bottom: 0;

			&::after {
				content: "";
				display: block;
				border-top: 1px solid #000;
				width: 1.25em;
				margin-top: .3rem;
			}
		}
	}

	.item {
		&.post-cat .post-1 {
			@include breakpoint(medium) {
				.date.button {
					margin-bottom: $paragraph-margin-bottom / 2;
				}

				p.cell {
					margin-bottom: 0;
				}

				@include breakpoint(850px down) {
					.cell {
						@include xy-cell(12, true, 0);
						order: inherit;
					}

					p.cell {
						margin-bottom: $paragraph-margin-bottom;
					}
				}
			}
		}
	}
}
