.page-template-home {
	.section ~ .section {
		margin-top: $global-layout-space * 2;
		margin-bottom: 0;
	}

	.entry-title {
		font: 600 1.15rem/1.2 $opensans;
		text-transform: uppercase;
	}

	.cell.tall {
		> * {
			height: 100%;
		}

		.cell.image {
			display: none;
		}
	}

	.tall .card {
		@include breakpoint(medium) {
			margin-bottom: 0;
		}
	}

	.quote {
		margin-left: 0;
		margin-right: 0;

		.cat-buttons + * {
			font-size: 1.75rem;
			line-height: 1.25;
			margin-bottom: 0;

			&::after {
				content: "";
				display: block;
				border-top: 1px solid #000;
				width: 1.25em;
				margin-top: $paragraph-margin-bottom;
			}
		}
	}

	.livewhale {
		border-top: 2px solid $light-blue;

		h2 {
			color: $white;
		}

		.heading-sideline {
			padding: {
				left: $global-layout-space + .62rem;
				right: $global-layout-space + .62rem;
			}
		}

		.events-all {
			margin: {
				left: .5rem;
				right: .5rem;
			}
			text-align: center;

			a {
				display: inline-block;
				border: 1px solid $light-blue;
				padding: .5rem .75rem;
			}

			.h3 {
				font: {
					size: 1.5rem;
					weight: 600;
				}
			}
		}

		.date {
			border-right-width: 1px;
		}

		@include breakpoint(medium) {

			.cell.events-all {
				padding-right: 1.5rem;
			}

			.heading-sideline {
				padding: {
					left: $global-layout-space + .94rem;
					right: $global-layout-space + .94rem;
				}
			}

			.events-all {
				margin-left: 0;
			}
		}
	}

	.in-the-news {
		a {
			display: block;
			padding: $global-layout-space * 2 $global-layout-space;

			&:active,
			&:hover {
				text-decoration: none;
				outline: 1px dashed $dark-blue;
			}
		}

		.nolink {
			padding: $card-padding + $global-layout-space * 2 $card-padding + $global-layout-space;
		}
	}

	@include breakpoint(small only) {
		.af4-entry-compact ~ .af4-entry-compact {
			margin-bottom: $global-layout-space * 1.5;
		}
	}

	@include breakpoint(medium) {
		.section ~ .section {
			margin-top: $global-layout-space * 5;
			margin-bottom: 0;
		}
}
}
