/* LiveWhale block.
---------------------------------- */
.livewhale {
	padding: {
		top: $global-layout-space * 2;
		bottom: $global-layout-space * 2;
	}

	p {
		hyphens: auto;
	}

	.h2,
	.h3 {
		margin-bottom: 0;
		line-height: 1;
	}

	.date {
		border-right: 2px solid $light-blue;
		text-align: center;
		margin: 0;
		padding: {
			top: .2rem;
			bottom: .2rem;
		}
	}

	.month {
		font: {
			size: 1.6rem;
			weight: 300;
		}
		text-transform: uppercase;
	}

	.day {
		font: {
			size: 2.5rem;
			weight: 700;
		}
	}

	.title {
		margin: 0;
		padding: {
			top: .1rem;
			bottom: .1rem;
		}
	}

	.event-title {
		font-weight: bold;
		text-transform: uppercase;
	}

	.event {
		@include breakpoint(medium) {
			padding: $grid-margin-gutters / 2;
		}

		@include breakpoint(large down) {
			min-width: 275px;
		}

		> .grid-x {
			align-items: center;
		}

		.cell {
			padding: {
				left: 1rem;
				right: 1rem;
			}
		}
	}
}
