/* LiveWhale block.
---------------------------------- */
.livewhale,
.ag-wgt-lvwl {
	&.invert {
		background-color: $darker-gray;
	}

	p {
		hyphens: auto;
	}

	.h2,
	.h3 {
		margin-bottom: 0;
		line-height: 1;
	}

	.date {
		border-right: 2px solid $light-blue;
		text-align: center;
		margin: 0;
		padding: {
			top: .2rem;
			bottom: .2rem;
		}
	}

	.month {
		font: {
			size: 1.6rem;
			weight: 300;
		}
		text-transform: uppercase;
	}

	.day {
		font: {
			size: 2.5rem;
			weight: 700;
		}
	}

	.title {
		margin: 0;
		padding: {
			top: .1rem;
			bottom: .1rem;
		}
	}

	.event-title {
		font-weight: bold;
		text-transform: uppercase;
	}

	.event {
		> .grid-x {
			align-items: center;
		}

		.cell {
			padding: 1rem;
		}

		@include breakpoint(large down) {
			.page-template-home & {
				min-width: 275px;
			}
		}
	}

	.events-all {
		text-transform: uppercase;
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 1;
	}

	> .grid-container > .grid-x {
		align-items: center;
	}

	@include breakpoint(small only) {
		.small-12 ~ .small-12 {
			margin-top: 2rem;
		}
	}

	@include breakpoint(medium) {
		.page-template-home & {
			.event,
			.events-all {
				padding: $grid-margin-gutters / 2;
			}
		}
	}
}

.ag-wgt-lvwl {
	padding: 1.25rem;

	.widget-title {
		text-transform: uppercase;
	}

	.grid-container {
		padding: 0;
	}

	.vertical .event {
		margin: 0;
		width: 100%;

		~ .event {
			margin-top: $grid-margin-gutters;
		}

		.cell {
			padding: .75rem;
		}
	}

	.events-all {
		margin-top: $grid-margin-gutters * 1.5;
		text-align: center;

		.button {
			margin-bottom: 0;
		}
	}

	.date {
		border-right-width: 1px;
	}
}

.arrow-right {
	&::after {
		content: "";
		display: inline-block;
		width: 1.1rem;
		height: 1.1rem;
		border: 4px solid $light-blue {
			width: 0 4px 4px 0;
		}
		position: relative;
		top: -0.2rem;
		transform: rotate(-45deg) translate(.1rem, .3rem);
	}
}
