.top-bar {
	@include breakpoint(small only) {
		&,
		ul {
			background: darken($site-title-background, 5%);
		}
	}

	@include breakpoint(medium) {
		border-width: 1px 0 0;
	}
}

.menu-primary {
	@include flex-align(center);

	> .menu-item {
		font-weight: bold;
		text-transform: uppercase;

		a {
			color: $dark-blue;
		}

		&.current-menu-item a,
		a:active,
		a:hover {
			background-color: $menu-item-background-active;
			color: $menu-item-color-active;
		}
	}

	@include breakpoint(medium) {
		border-bottom: 3px solid $light-blue;

		> .menu-item {
			margin-left: -1px;
			background-color: $darker-gray;
			color: $white;

			&:first-child {
				margin-left: 0;
			}

			a {
				color: $white;
				letter-spacing: .05em;
				font-weight: normal;
			}
		}
	}
}

.nav-primary {
	width: 100%;

	@include breakpoint(medium) {
		background-color: $darker-gray;
	}
}

.title-bars .title-bar {
	display: inline-block;
	vertical-align: top;

	~ .title-bar {
		margin-left: 6px;
	}
}

.title-bar-navigation {
	width: 30px;
	height: 38px;

	.menu-icon {
		@include hamburger(
			$color: $titlebar-icon-color,
			$color-hover: $titlebar-icon-color-hover,
			$weight: 3px,
			$width: 30px,
			$height: 20px
		);
		margin: 0;
		display: block;
	}

	.title-bar-title {
		cursor: pointer;
		text-transform: uppercase;
		line-height: 10px;
		font: {
			weight: bold;
			size: .63rem;
		}
		padding-bottom: 0;
		margin-top: 1px;
	}
}

.pagination {
	text: {
		align: center;
		transform: uppercase;
	}
	font-weight: 700;

	ul {
		list-style-type: none;
		width: max-content;
		margin: 6rem auto 3rem;
	}

	li,
	a {
		display: inline-block;
	}

	a {
		height: 1.6rem;
		min-width: 1.6rem;
		text-align: center;
	}

	.active a {
		background-color: $dark-blue;
		color: $white;
	}
}
