.top-bar {
	@include breakpoint(small only) {
		&,
		ul {
			background: darken($site-title-background, 5%);
		}
	}

	@include breakpoint(medium) {
		border-width: 1px 0 0;
	}
}

.menu-primary {
	@include flex-align(center);

	> .menu-item {
		font-weight: bold;
		text-transform: uppercase;

		a {
			color: $dark-blue;

			&:active,
			&:hover {
				background-color: $menu-item-background-active;
				color: $menu-item-color-active;
			}
		}

		@include breakpoint(medium) {
			border: 1px solid $border-primary;
			border-width: 0 1px 1px;
			margin-left: -1px;
			background-color: $white;

			&:first-child {
				margin-left: 0;
			}

		}
	}
}

.nav-primary {
	@include breakpoint(small only) {
		width: 100%;
	}
}

.title-bar-navigation {
	width: 30px;
	flex: 1 1 100%;
	flex-wrap: wrap;
	float: right;
	padding: 6px 0;

	.menu-icon {
		@include hamburger(
			$color: $titlebar-icon-color,
			$color-hover: $titlebar-icon-color-hover,
			$weight: 3px,
			$width: 30px,
			$height: 20px
		);
		order: 2;
		margin: 0 0 2px;
		display: block;
	}

	.title-bar-title {
		order: 1;
		cursor: pointer;
		text-transform: uppercase;
		line-height: 10px;
		font: {
			weight: bold;
			size: .63rem;
		}
		padding-bottom: 4px;
		margin-top: 1px;
	}

	@include breakpoint(small only) {
		height: 100%;
		justify-content: flex-end;
	}
}

.pagination {
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;

	ul {
		list-style-type: none;
		margin: {
			left: 0;
			top: 1rem;
		}
	}

	li,
	a {
		display: inline-block;
	}

	a {
		height: 1.6rem;
		min-width: 1.6rem;
		text-align: center;
	}

	.active a {
		background-color: $dark-blue;
		color: $white;
	}
}
