.rp4wp-related-posts {
	clear: both;

	ul {
		float: none;

		> li {
			padding: {
				top: 20px;
				bottom: 0;
			}

			&:first-child {
				padding-top: 0;
			}
		}
	}

	p {
		margin-bottom: 0;
	}

	.rp4wp-related-post-image {
		padding-right: $grid-margin-gutters;
	}

	.rp4wp-related-post-content a {
		font-weight: bold;
		text-decoration: underline;
	}
}
