.single-post {
	.entry-header {
		margin-top: 2 * $global-layout-space;
		margin-bottom: 1.5 * $global-layout-space;

		@include breakpoint(medium) {
			margin-top: 4 * $global-layout-space;
			margin-bottom: 3 * $global-layout-space;
		}
	}

	@include breakpoint(medium) {
		.site-inner {
			margin-top: 4 * $global-layout-space;
		}

		#genesis-content {
			margin: {
				left: rem-calc(map-get($grid-container-padding, "medium") / 2) + $grid-margin-gutters / 2;
				right: rem-calc(map-get($grid-container-padding, "medium") / 2) + $grid-margin-gutters / 2;
			}
		}
	}
}

h1.entry-title {
	line-height: 1.1;
}

.news-taxonomy {
	@extend %card-top-border;

	p {
		margin: 0;
		padding: $grid-margin-gutters / 2 0 0;
		border-bottom: 1px solid $dark-blue;
	}

	span {
		text-transform: uppercase;
		font-weight: bold;
	}

	.button {
		margin-bottom: $grid-margin-gutters / 2;
	}
}

.content-heading-image {

	@include breakpoint(medium) {
		margin-top: -#{$nav-primary-height};
	}

	img {
		width: 100%;
	}
}

.entry-footer {
	clear: both;
}

.media-contact-group {
	button {
		@include simple-arrow;
	}

	.meta {
		overflow: hidden;
		margin-bottom: $paragraph-margin-bottom;
		max-height: 1px;
		transition: all .25s ease-in-out;

		div {
			margin-top: 1px;
			padding: $grid-margin-gutters;
			border: 1px solid $card-border-color;
		}
	}

	&.active {
		.meta {
			max-height: 55rem;
		}

		button {
			@include simple-arrow-up;
		}
	}
}

.related_posts {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: $paragraph-margin-bottom;

	img {
		width: 100%;
	}

	.cell.small-12 {
		margin: 0;
		width: 100%;
	}

	.rp4wp-related-post-image {
		margin-bottom: $paragraph-margin-bottom;
	}

	@include breakpoint(medium) {
		margin-bottom: 0;

		.cell.medium-6 {
			margin: 0 $grid-margin-gutters / 2 0 0;
			width: calc(50% - #{$grid-margin-gutters / 2});

			+ .cell {
				margin: 0 0 0 $grid-margin-gutters / 2;
			}
		}
	}
}
