.post-category {
	margin-top: $paragraph-margin-bottom;
}

.news-taxonomy {
	@extend %card-top-border;

	p {
		margin: 0;
		padding: $grid-margin-gutters / 2 0 0;
		border-bottom: 1px solid $dark-blue;
	}

	span {
		text-transform: uppercase;
		font-weight: bold;
	}

	.button {
		margin-bottom: $grid-margin-gutters / 2;
	}
}

.content-heading-image {

	@include breakpoint(medium) {
		margin-top: -39px;
	}

	img {
		width: 100%;
	}
}

.entry-footer {
	clear: both;
}
