.single-post {
	article {
		font-size: 1.125rem;
	}

	.entry-header {
		margin-bottom: $global-layout-space;

		@include breakpoint(medium) {
			margin-bottom: 3 * $global-layout-space;
		}
	}

	.entry-meta {
		@extend %entry-meta;
	}

	@include breakpoint(medium) {
		.entry-header {
			margin: {
				left: 7rem;
				right: 7rem;
			}
		}

		#genesis-content {
			$medium-padding: map-get($grid-container-padding, "medium");
			$margin-left: rem-calc($medium-padding / 2) + $grid-margin-gutters / 2;
			margin: {
				left: $margin-left;
				right: $grid-margin-gutters + rem-calc(150) + $margin-left;
			}

			@include breakpoint(1000px down) {
				margin-right: $grid-margin-gutters + rem-calc(64) + $margin-left;
			}
		}
	}

	.has-cloud-fonts & header {
		h2,
		.h2 {
			font-weight: 400;
		}
	}
}

h1.entry-title {
	line-height: 1.1;
}

.news-taxonomy {
	@extend %card-top-border;

	p {
		margin: 0;
		padding: $grid-margin-gutters / 2 0 0;
	}

	span {
		text-transform: uppercase;
		font-weight: bold;
	}

	.button {
		margin-bottom: $grid-margin-gutters / 2;
	}
}

.content-heading-image {

	@include breakpoint(medium) {
		margin-top: -#{$nav-primary-height};
	}

	img {
		width: 100%;
	}
}

.entry-footer {
	clear: both;

	.grid-x {
		padding: 1rem 0;
	}

	.author-name {
		font-weight: bold;
	}

	p.entry-meta {
		padding-top: 1rem;
	}
}

.media-contact-group {
	button {
		@include simple-arrow;
	}

	.meta {
		overflow: hidden;
		margin-bottom: $paragraph-margin-bottom;
		max-height: 1px;
		transition: all .25s ease-in-out;

		div {
			margin-top: 1px;
			padding: $grid-margin-gutters;
			border: 1px solid $card-border-color;
		}
	}

	&.active {
		.meta {
			max-height: 55rem;
		}

		button {
			@include simple-arrow-up;
		}
	}
}

.related_posts {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: $paragraph-margin-bottom;

	img {
		width: 100%;
	}

	.cell.small-12 {
		margin: 0;
		width: 100%;
	}

	.rp4wp-related-post-image {
		margin-bottom: $paragraph-margin-bottom;
	}

	.rp4wp-related-post-content:first-child {
		margin-left: 0;
	}

	@include breakpoint(small only) {
		.grid-x + .grid-x {
			margin-top: $grid-margin-gutters;
		}
	}

	@include breakpoint(medium) {
		margin-bottom: 0;

		.cell.medium-6 {
			margin: 0 $grid-margin-gutters / 2 0 0;
			width: calc(50% - #{$grid-margin-gutters / 2});

			+ .cell {
				margin: 0 0 0 $grid-margin-gutters / 2;
			}
		}
	}
}

.widgets-post-after-entry {
	margin-top: $global-layout-space * 2;

	& + .footer-widgets {
		margin-top: 0;
	}

	.card {
		border: {
			left: none;
			right: none;
		}
	}

	@include breakpoint(medium) {
		margin-top: $global-layout-space * 5;

		& + .footer-widgets {
			margin-top: 0;
		}
	}
}
