button.gsc-search-button {
	width: 2.5rem;
	height: 2.5rem;
	padding: .625rem;
	margin: 0;

	&:hover {
		background-color: $dark-blue;
	}

	svg {
		width: 1.25rem;
		height: 1.25rem;
	}
}

.gsc-input[type="text"] {
	font-size: 1.3333rem;
	height: rem-calc(40) !important; // sass-lint:disable-line no-important
	box-shadow: none;
	background-color: transparent !important; // sass-lint:disable-line no-important
}

table.gsc-input {
	margin-bottom: 0;
}

table td.gsib_a {
	padding: {
		top: 0;
		bottom: 0;
	}
}

table td.gsib_b {
	padding: 0;
}

table .gscb_a {
	line-height: rem-calc(40);
}
