/* Typography
--------------------------------------------- */

/* Breakpoints
--------------------------------------------- */
$break-medium: map-get($breakpoints, medium);
$break-large: map-get($breakpoints, large);
$break-xlarge: map-get($breakpoints, xlarge);
$break-medium: map-get($breakpoints, medium);
$breakpoint-classes: (small medium);

/* Colors
--------------------------------------------- */
$white: #FEFEFE;
$black: #000;
$maroon: #500000;
$dark-blue: #02233B;
$light-blue: #28A9E1;
$light-green: #B4D333;
$dark-gray: #3F4041;
$darker-gray: #2A2A2A;
$foundation-palette: (
	primary: $dark-blue,
	secondary: $light-blue,
	success: #3ADB76,
	warning: #FFAE00,
	alert: #CC4B37,
);
$body-font-color: $darker-gray;
$border-primary: $dark-gray;
$anchor-color: $body-font-color;

/* Fonts
--------------------------------------------- */
$tungsten: "Tungsten A", "Tungsten B", "Oswald", sans-serif;
$opensans: "Open Sans", sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$body-font-family: $opensans;
$nav-font-family: $helvetica;
$header-font-family: $tungsten;
$entry-title-font: 700 1.15rem/1 $opensans;

/* Global
--------------------------------------------- */
$global-layout-space: 1rem;
$grid-margin-gutters: $global-layout-space;
$hr-margin: $paragraph-margin-bottom 0;
$anchor-color: $primary-color;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: underline;
$header-styles: (
	small: (
		"h1": ("font-size": 32),
		"h2": ("font-size": 28),
		"h3": ("font-size": 19),
		"h4": ("font-size": 18),
		"h5": ("font-size": 17),
		"h6": ("font-size": 16),
	),
	medium: (
		"h1": ("font-size": 48),
		"h2": ("font-size": 28),
		"h3": ("font-size": 31),
		"h4": ("font-size": 25),
		"h5": ("font-size": 20),
		"h6": ("font-size": 16),
	),
);

/* Header
--------------------------------------------- */
$site-title-background: $white;
$search-closed-height: .125rem;
$search-small-height: rem-calc(92);
$search-small-sticky-height: rem-calc(40);
$search-medium-height: rem-calc(92);
$search-medium-sticky-height: rem-calc(40);
$title-area-height: rem-calc(103);
$title-area-sticky-height: rem-calc(55);
$nav-primary-height: rem-calc(38);
$header-small-height: rem-calc(56);
$header-medium-height: $title-area-height + $nav-primary-height;
$header-medium-sticky-height: $title-area-sticky-height + $nav-primary-height;

/* Navigation
--------------------------------------------- */
$topbar-padding: 0;
$topbar-input-width: auto;
$topbar-background: transparent;
$dropdownmenu-arrow-color: $dark-blue;
$dropdownmenu-border: 0 none;
$dropdownmenu-border-width: 0;
$accordionmenu-arrow-color: $dropdownmenu-arrow-color;
$menu-items-padding-y: .625rem;
$menu-items-padding: $menu-items-padding-y 1rem;
$menu-item-color-active: $white;
$menu-item-background-active: $maroon;

/* Title Bar
--------------------------------------------- */
$titlebar-background: transparent;
$titlebar-padding: 0;
$titlebar-color: $white;
$titlebar-icon-color: $white;
$titlebar-icon-color-hover: $white;
$titlebar-icon-spacing: 0.6rem;
$titlebar-text-font-weight: normal;

/* Content
--------------------------------------------- */
$small-side-spacing: 9%;
$blockquote-border: none;
$blockquote-color: darken($dark-blue, 20%);
$blockquote-padding: rem-calc(20);
$cite-font-size: 0.9rem;
$cite-color: darken($dark-blue, 20%);
$hr-border-color: $dark-blue;
$table-border-color: $dark-blue;
$table-border: 1px solid $table-border-color;

/* Buttons
--------------------------------------------- */
$button-background: $dark-blue;

/* Cards
--------------------------------------------- */
$card-link-color: $dark-blue;
$card-border-color: $dark-blue;
$card-padding: $global-layout-space * 1.5;

/* Footer
--------------------------------------------- */
$footer-text-color: $dark-blue;
$footer-link-color: $dark-blue;
$footer-font-weight: 400;
