/* Typography
--------------------------------------------- */

/* Breakpoints
--------------------------------------------- */
$break-medium: map-get($breakpoints, medium);
$break-large: map-get($breakpoints, large);
$break-xlarge: map-get($breakpoints, xlarge);
$break-medium: map-get($breakpoints, medium);
$breakpoint-classes: (small medium);

/* Colors
--------------------------------------------- */
$white: #FEFEFE;
$black: #000;
$maroon: #500000;
$dark-blue: #03233B;
$light-blue: #28A9E1;
$dark-gray: #3F4041;
$border-primary: $dark-gray;

/* Fonts
--------------------------------------------- */
$tungsten: "Tungsten A", "Tungsten B", "Oswald", sans-serif;
$opensans: "Open Sans", sans-serif;
$header-font-family: $tungsten;

/* Global
--------------------------------------------- */
$body-font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$anchor-color: $primary-color;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);
$anchor-text-decoration: underline;
$anchor-text-decoration-hover: underline;
$global-layout-space: 1rem;
$grid-margin-gutters: $global-layout-space * 2;

/* Header
--------------------------------------------- */

/* Navigation
--------------------------------------------- */

/* Top Bar
--------------------------------------------- */
$topbar-background: transparent;
$topbar-padding: 0 0.5rem 0.5rem;

/* Content
--------------------------------------------- */

/* Buttons
--------------------------------------------- */

/* Cards
--------------------------------------------- */

/* Footer
--------------------------------------------- */
