/* Typography
--------------------------------------------- */

/* Breakpoints
--------------------------------------------- */
$break-medium: map-get($breakpoints, medium);
$break-large: map-get($breakpoints, large);
$break-xlarge: map-get($breakpoints, xlarge);
$break-medium: map-get($breakpoints, medium);
$breakpoint-classes: (small medium);

/* Colors
--------------------------------------------- */
$white: #FEFEFE;
$black: #000;
$maroon: #500000;
$dark-blue: #03233B;
$light-blue: #28A9E1;
$dark-gray: #3F4041;
$border-primary: $dark-gray;

/* Fonts
--------------------------------------------- */
$tungsten: "Tungsten A", "Tungsten B", "Oswald", sans-serif;
$opensans: "Open Sans", sans-serif;
$body-font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

/* Global
--------------------------------------------- */
$global-layout-space: 1rem;
$grid-margin-gutters: $global-layout-space;
$hr-margin: $paragraph-margin-bottom 0;
$anchor-color: $primary-color;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: underline;
$header-styles: (
	small: (
		"h1": ("font-size": 32),
		"h2": ("font-size": 28),
		"h3": ("font-size": 19),
		"h4": ("font-size": 18),
		"h5": ("font-size": 17),
		"h6": ("font-size": 16),
	),
	medium: (
		"h1": ("font-size": 48),
		"h2": ("font-size": 28),
		"h3": ("font-size": 31),
		"h4": ("font-size": 25),
		"h5": ("font-size": 20),
		"h6": ("font-size": 16),
	),
);

/* Header
--------------------------------------------- */
$header-font-family: $tungsten;
$site-title-background: $white;

/* Navigation
--------------------------------------------- */
$topbar-padding: 0;
$topbar-input-width: auto;
$topbar-background: transparent;
$dropdownmenu-arrow-color: $dark-blue;
$dropdownmenu-border: 0 none;
$dropdownmenu-border-width: 0;
$accordionmenu-arrow-color: $dropdownmenu-arrow-color;
$menu-items-padding-y: 0.7rem;
$menu-items-padding: $menu-items-padding-y 1rem;

/* Title Bar
--------------------------------------------- */
$titlebar-background: transparent;
$titlebar-padding: 0;
$titlebar-color: $maroon;
$titlebar-icon-color: $dark-blue;
$titlebar-icon-color-hover: $dark-blue;
$titlebar-icon-spacing: 0.6rem;
$titlebar-text-font-weight: normal;

/* Content
--------------------------------------------- */

/* Buttons
--------------------------------------------- */

/* Cards
--------------------------------------------- */
$card-link-color: $dark-blue;

/* Footer
--------------------------------------------- */
$footer-text-color: $dark-blue;
$footer-link-color: $dark-blue;
$footer-font-family: $header-font-family;
$footer-font-weight: 400;
