.single-post,
body.page:not(.page-template-home) {
	.entry-content {
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: 300;
		}
	}
}

.content {
	hyphens: manual;
}

strong,
b {
	font-weight: inherit;
}

form strong,
form b {
	font-weight: $global-weight-bold;
}
