.aligncenter {
	float: none;
	clear: both;
	display: block;
	margin: {
		left: auto;
		right: auto;
	}
}

.alignleft {
	float: left;
	margin-right: $paragraph-margin-bottom;
}

.alignright {
	float: right;
	margin-left: $paragraph-margin-bottom;
}

@include breakpoint(460px down) {
	.alignleft,
	.alignright {
		float: none;
		clear: both;
		display: block;
		margin: {
			left: auto;
			right: auto;
		}
	}
}

.wp-caption {
	max-width: 100%;
}
